/* general style value */

.clearfix::after {
 content: "";
 display: table;
 clear: both;
 }

.wrapper {
 width: 70%;
 margin: auto;
 }

.container {
 max-width: 1170px;
 margin: 0 auto;
 }

.text-align {
 text-align: center;
 }

.padding {
 padding: 0px 10px;
 }

.padding_bottom {
 padding-bottom: 30px;
 }

.padding_top {
 padding-top: 30px;
 }

.padding_left {
 padding-left: 30px;
 }

.padding_right {
 padding-right: 30px;
 }

.margin_bottom {
 margin-bottom: 30px;
 }

.margin_top {
 margin-top: 30px;
 }

.margin_left {
 margin-left: 30px;
 }

.margin_right {
 margin-right: 30px;
 }

.no-gutter-margin {
 margin: 0px;
 }

.no-gutter-padding {
 padding: 0px;
 }

 /* End basic value */

 /* specific style */

 .logo-digitalocean {
   line-height: 100px;
 }

 .header_top div li {
   list-style: none;
   text-transform: capitalize;
   display: inline-block;
   line-height: 100px;
   padding-left: 10px;
 }

 .header_top_btn {
  padding: 5px 15px;
  border: 1px solid #034AFF;
  border-radius: 5px;
  background-color: #fff;
  margin-left: 10px;
  color: #034AFF;

 }

 .jumbotron_header {
   height: 600px;
   width: 100%;
   background-color: #034AFF;
 }
