/* general style value */

.clearfix::after {
 content: "";
 display: table;
 clear: both;
}

.wrapper {
 width: 60%;
 margin: auto;
}

body {
  font-family: 'Roboto', sans-serif;
}

img {
  width: 100%;
  min-width: 100px;
}

h2 {
  font-weight: bold;
}

h5 {
  margin-top: 8px;
}

.text-align-center {
 text-align: center;
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

.vertical-align-middle {
  vertical-align: middle;
}

.vertical-align-bottom {
  vertical-align: bottom;
}

.vertical-align-sub {
  vertical-align: sub;
}

.vertical-align-super {
  vertical-align: super;
}

.padding {
  padding: 0px 10px;
}

.padding_top5 {
  padding-top: 5px;
}

.padding_top10 {
  padding-top: 10px;
}

.padding_top15 {
  padding-top: 15px;
}

.padding_top35 {
  padding-top: 35px;
}

.padding_top {
  padding-top: 50px;
}

.padding_bottom5 {
  padding-bottom: 5px;
}

.padding_bottom10 {
  padding-bottom: 10px;
}

.padding_bottom15 {
  padding-bottom: 15px;
}

.padding_bottom35 {
  padding-bottom: 35px;
}

.padding_bottom {
  padding-bottom: 50px;
}


.padding_left {
  padding-left: 50px;
}

.padding_right {
  padding-right: 50px;
}

.margin_bottom {
  margin-bottom: 50px;
}

.margin_top {
  margin-top: 50px;
}

.margin_left {
  margin-left: 50px;
}

.margin_right {
  margin-right: 50px;
}

.margin-bottom-10 {
  margin-top: 10px;
}

.margin-bottom35 {
  margin-bottom: 35px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top35 {
  margin-top: 35px;
}

.no-gutter-margin {
  margin: 0px;
}

.no-gutter-padding {
  padding: 0px;
}

.float-right {
  float: right;
}

.border {
  border-bottom: 1px solid #fff;
}
 /* End basic value */

 /* specific style */

/* header top */

.header_top {
  position: fixed;
  top:0px;
  left:0px;
  z-index: 1;
  width: 100%;
  background-color: #fff;
}

 .header_top div li {
   list-style: none;
   text-transform: capitalize;
   display: inline-block;
   line-height: 100px;
   padding-left: 10px;
   color: #061B4E;
 }

 .header_top_btn {
  padding: 5px 15px;
  border: 1px solid #034AFF;
  border-radius: 5px;
  background-color: #fff;
  margin-left: 10px;
  color: #034AFF;
 }

 .fa-bars {
   font-size: 30px;
   color: #034AFF;
   line-height: 100px;
 }

.fa-angle-down {
  padding-left: 2px;
}

 /* header top */

/* jumbotron */

 .jumbotron_header {
   background-image: url(..img/bg_home.jpg);
   background-repeat: no-repeat;
   background-size: 1000px;
   margin-top: 100px;
 }

.container div h1 {
  color: #fff;
  font-weight: bold;
  line-height: 55px;
  font-size: 50px;
}

.jumbotron .container div p {
  color: #A9A9A9;
  font-weight: bold;
  line-height: 28px;
  font-size: 17px;
}

.box {
  background-color: #fff;
  border-radius: 5px;
}

.box h2 {
  color: #061B4E;
  font-size: 30px;
  text-align: center;
}

.box h3 {
  color: #034AFF;
  font-size: 30px;
  text-align: center;
}

.jumbotron_btn {
 margin-top: 10px;
 padding: 5px 179px;
 border: 2px solid #579AFF;
 border-radius: 5px;
 background-color: #579AFF;
 color: #fff;
}

.jumbotron_header form p {
  color: #000;
}

/* jumbotron */

/* Header bottom */

.header_bottom .container-fluid {
  background-color: #F3F5F9;
  width: 100%;
}

.header_bottom .container h3 {
  color: #808080;
  text-transform: uppercase;
  font-size: 15px;
}

.header_bottom .container .row .text-align-center a {
  color: #034AFF;
}

.fa-angle-right {
  padding-left: 5px;
}

.header_bottom_a {
  color: #034AFF;
}

.header_bottom img {
  width: calc(100%/ 6);
  float: left;
  vertical-align: middle;
}

/* fine header bottom */

/* prima sezione main */

.first_section {
  background-color: #fff;
  width: 100%;
}

.first_section div p {
  font-size: 20px;
  color: #A9A9A9;
}

.first_section .row .menu_block {
  list-style: none;
  color: #A9A9A9;
  border-left: 1px solid #A9A9A9;
  padding-left: 10px;
}

.first_section .menu_block li {
  padding-top: 10px;
  text-transform: capitalize;
}

.first_section_img {
  padding-top: 35px;
  padding-left: 10px;
}

.first_section img {
  width: 30px;
  height: 30px;
  padding-right: 70px;
}

.first_section h2 {
  color: #061B4E;
}

.first_section h3 {
  font-size: 15px;
  color: #061B4E;
}

.first_section .row p {
  font-size: 15px;
}

/* fine prima sezione */

/* inizio seconda sezione */
.second_section {
  background-color: #F3F5F9;
  width: 100%;
  height: 850px;
}

.second_section p {
  font-size: 25px;
  color: #A9A9A9;
}

.second_section .fa-angle-left {
  font-size: 40px;
  margin-left: 88%;
  padding-top: 100%;
  opacity: 0.5;
}

.second_section .fa-angle-right {
  font-size: 40px;
  margin-right: 100%;
  padding-top: 100%;
}

.second_section li {
  display: inline-block;
}

.fa-circle {
  border-radius: 50%;
  color: #034AFF;
}

#bluecircle {
  color: #034AFF;
  background-color: #034AFF;
}

/* fine seconda sezione main */

/* inizio terza sezione main */

.third_section {
  background-color: #fff;
  width: 100%;
}

.third_section img {
  width: 50px;
  height: 50px;
}

/* fine terza sezione main */

/* inizio quarta sezione main */

.fourth_section {
  width: 100%;
  background: linear-gradient(#00259F, #0043C2);
}

.fourth_section h2 {
  color:#fff;
}

.fourth_section h5 {
  font-weight: bold;
  color: #fff;
}

.fourth_section p {
  color: #A9A9A9;
}

.fourth_section a {
  color: #BEE8DC;
}

/* fine quarta sezione main */

/* inizio quinta sezione main */


.fifth_section {
  background-color: #F3F5F9;
  height: 650px;
}

.fifth_section .square_white {
background-color: #fff;
border-radius: 15px;
}

.fifth_section img {
  width: 300px;
  height: 150px;
}

.fifth_section li {
  display: inline-block;
}

.fifth_section p {
  color: #000;
}

.fifth_section .square_white h2 {
  color: #A9A9A9;
}

.fifth_section .fa-angle-left {
  font-size: 40px;
  margin-left: 88%;
  padding-top: 100%;
  opacity: 0.5;
}

#fangleright {
  font-size: 40px;
  margin-right: 100%;
  padding-top: 100%;
}

/* fine quinta sezione */

/* inizio footer */

/* inizio prima sezione footer */



/* mediaqueri */

@media screen and (max-width: 992px) {

  div .left-col {
    text-align: center;
  }

  .jumbotron_header .box {
    text-align: center;
  }
}

  .jumbotron_btn {
    padding: 5px 279px;
  }

@media screen and (min-width: 992px) and (max-width:1200px) {

  .jumbotron_btn {
    padding: 5px 107px;
  }

  .fourth_section .row p {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) and (max-width:2000px) {

  .jumbotron_btn {
    padding: 5px 149px;
  }
}

@media screen and (min-width: 500px) and (max-width:749px) {

  .jumbotron_btn {
    padding: 5px 275px;
  }
}
